name: Sizebot

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v2

      - name: Setup | Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Setup | Configure git user
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Setup | Yarn Install
        uses: bahmutov/npm-install@v1

      - name: Build | Build application
        run: yarn build

      - name: Sizebot | Update baseline
        run: node scripts/sizebot/createCurrentSizes.js
        continue-on-error: true

      - name: Sizebot | Commit results
        run: |
          git add scripts/sizebot/sizebot.json 
          git commit -am 'chore: [skip ci] update sizebot' --no-verify
          git push origin main
        continue-on-error: true
